a{text-decoration:none;}
img{
	display:inline-block;
}
.hSearch{
	margin:0 auto;
	width:1250px;
}
.hSearch_back{
	height:auto;
	width:100%;
	background:#f6f6f6;
}
.hSearch{
	height:auto;
}
.search_top{
	height:48px;
    padding-top:20px;
}
.search_top h6{
	font-weight:normal;
	display:block;
	height:44px;
	float:left;
	padding-top:4px;
}
.search_top p{
	border:1px solid #ccc;
	width:94px;
	height:24px; 
	display:inline-block;
	line-height: 24px;
	margin-left:16px;
	cursor:pointer;
}
.search_top p:hover{
	border:1px solid #c40000;
}
.search_top p:hover em{
	color:#c40000;
}
.search_top p em{
	width:73px;
	display:block;
	float:left;
	text-align:center;
	font-style:normal;
}
.search_top p i{
	background:url(../images/q.png) no-repeat 1px -242px;
	/*display:inline-block;*/
	width:20px;
	border-left:1px solid #ccc;
	height:25px;
	display:block;
	float:left;
}

.search_items{
	height:47px;
	border-bottom:1px solid #ccc;
	background:#fff;
	line-height:47px;
	padding-left:22px;
	width:1228px;
}
.search_items li:first-child{
	width:58px;
	padding:0;
}
.search_items li:first-child strong{
	color:#333;
}
.search_items li{
	float:left;
	padding:0 8px;
}
.search_items li a{
	text-decoration:none;
	color:#806f66;
	display:inline-block;
	/*width:31px;*/
	padding:0 4px;
	height:19px;
	background:#fff;
	vertical-align: middle;
    line-height: 19px;
    text-align: center;
}
.search_items li a.active,.search_items li a:hover{
	background:#C40000;
	color:#fff;
}

.height24{
	height:24px;
	width:100%;
	background:#f6f6f6;
}

/*---------showOrder---------*/
.showOrder_back{
	height:auto;
	background:#f6f6f6;
	width:100%;
}
.showOrder{
	width:1250px;
	margin:0 auto;
}
.showOrder{
	height:33px;
	background:#fff;
	border-top:1px solid #C40000;
	padding-left:21px;
	width:1229px;
	line-height:33px;
	position:relative;
}

.showOrder li{
	float:left;
	width:39px;
	background:url(../images/q.png) no-repeat 50px -350px;
	padding:0 26px;
	cursor:pointer;
}
.showOrder li a strong{
	color:#333;
}
.showOrder li.up{
	background-position: 50px -375px;
}
.showOrder li.down{
	background-position: 50px -403px;
}
.showOrder li.active a strong{
	color:#C40000;
}
.showOrder li:first-child{
	background:none;
	padding:0;
	width:auto;
	cursor:auto;
}
.showOrder_btn{
	width:90px;
	height:33px;
	line-height:33px;
	position:absolute;
	right:0;
	top:0;
}
.showOrder_btn .bgSpan{
	width:23px;
	height:21px;
	display:inline-block;
	border:1px solid #ccc;
	vertical-align:middle;
	cursor:pointer;
}
.showOrder_btn .bgSpan.left.active,.bgSpan.right.active{
	background-color:#eee;
}
.showOrder_btn .bgSpan.left{
	background:url(../images/q.png) no-repeat 0px -436px;
	margin-right:3px;
}
.showOrder_btn .bgSpan.right{
	background:url(../images/q.png) no-repeat 2px -458px;
}


/*---------show_items--------*/
.show_items{
	height:auto;
	background:#f6f6f6;
	width:1250px;
	margin:0 auto;
	overflow:hidden;
}
.show_items dl{
	width:232px;
	height:368px;
	float:left;
	margin-right:20px;
	margin-bottom:20px;
	background:#fff;
	border:1px solid #fff;
}
.show_items dl:hover{
	border:1px solid #C40000;
	box-shadow:0 0 6px #CCCCCC;
}
.show_items dl:nth-child(5n){
	margin-right:0;
}
.show_items dt{
	width:232px;
	height:218px;
	padding-top:24px;
	text-align:center;
	position:relative;
}
.show_items dt img{
	vertical-align:middle;
	display:inline-block;
}
.show_items dt u{
	display:block;
	width:44px;
	height:45px;
	position:absolute;
	background:url(../images/v.png) no-repeat -261px -53px;
	right:12px;
	top:22px;
}
.show_items dt .countGoods{
	background-position:-307px -53px;
}
.show_items dt .hotGoods{
	background-position:-216px -53px;
}
.show_items dd{
	height:86px;
	width:222px;
	padding-left:10px;
}
.show_items dd p a{
	color:#333;
}
.show_items dd p{
	line-height:36px;
}
.show_items dd p strong{
	color:#C40000;
}
.show_items dd p i{
	color:#999;
	text-decoration:line-through;
	margin-left:12px;
}
.show_items dd:last-child{
	height:38px;
	border-top:1px solid #ccc;
}
.show_items dd span{
	display:block;
	width:78px;
	height:36px;
	float:left;
	color:#999;
	line-height:36px;
	text-indent:3px;
}
.show_items dd span i{
	color:#bb7c5b;
}
.show_items dd span em{
	color:#6c88bb;
	font-style:normal;
}
.show_items dd span+span{
	border-left:1px solid #ccc;
}
.show_items dl dd span:last-child{
	width:62px;
	background:url(../images/q.png) no-repeat 18px -484px;
	cursor:pointer;
}

/*-------page--------*/
.hotSearch{
	margin:0 auto;
	width:1250px;
	text-align:center;
}
.pageBtn{
	height:32px;
	width:400px;
	margin:0 auto;
}
.pageBtn a{
	padding:0 8px;
	height:24px;
	line-height:24px;
	text-align:center;
	background:#fff;
	color:#000;
	float:left;
	margin:5px;
	border:1px solid #ccc;
}
.pageBtn a:hover,a.active{
	background:#C40000;
	border:1px solid #C40000;
	color:#fff;
}

/*----------hotSearch----------*/
.hotSearch{
	background:#fff;
	height:346px;
}
.hotSearch h4{
	height:37px;
	color:#333;
	font-size:16px;
	line-height:37px;
}
.hotSearch h4 .hotWine{
	overflow:hidden;
}
.hotSearch h4 .hotWine li{
	height:37px;
	padding:0 4px;
	font-size:12px;
	float:left;
}
.hotSearch h4 .hotWine li i{
	color:#999;
}
.hotSearch h4 .hotWine li a{
	color:#999;
	font-weight:normal;
}
.hotSearch .sale{
	height:308px;
	border-top:1px solid #ccc;
	width:1214px;
	padding:0 18px;
}
.hotSearch .sale dl{
	width:222px;
	height:308px;
	float:left;
}
.hotSearch .sale dl+dl{
	margin-left:26px;
}
.hotSearch .sale dt{
	width:222px;
	height:206px;
	padding-top:26px;
}
.hotSearch .sale dd{
	line-height:28px;
	text-align:left;
}
.hotSearch .sale dd strong{
	color:#C40000;
}
.hotSearch .sale dd span{
	color:#999;
	margin-left:6px;
} 
.hotSearch .sale dd a{
	color:#333;
} 

/*-----search------*/
.search_back{
	height:52px;
	background:#eee;
	padding-top:12px;
}
.search_back form{
	margin:0 auto;
}
